//
// Variables
// --------------------------------------------------

//== Colors
//
$brand-primary:                 #9bb03a !default;
$brand-accent:                  #fff !default;

//== Scaffolding
//
$link-color:                     #768824 !default;

//== Trackers links
//
$tracker-default-bg:             #7a8841 !default;